@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cotainers {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .lcontent {
    height: 100%;
    width: 35%;
    position: absolute;
   
    transition: transform 0.5s ease-in-out;
  }
  
  .lcontent > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .lcontent h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
    color: #000;
    
  }
  
  
  .rcontent {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
  
  .rcontent > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
  button {
    background-color: rgba(255, 255, 255, 0.877);
    border: none;
    color: rgb(36, 34, 34);
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  button:hover {
    color: rgb(7, 7, 7);
  }
  
  button:focus {
    outline: dotted;
  }
  
  .cotainers .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }
  
  .cotainers .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .cotainers .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }